// -------------------
// CARD STYLES
// -------------------

.card{
    flex-direction: row;
    justify-content: flex-start;
    border: 1.25px solid grey;
    border-radius: .375rem;
    padding: 1.5rem .5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.thumbnail{
    justify-content: left;
    width: 4.6875rem;
    height: 4.6875rem;
    border-radius: 50%;
}

.cardInfo{
    flex-direction: column;
    margin-left: 1rem;
}

#email{
    text-decoration: none;
    color: grey;

        &:hover{
        color:purple;
        }
}

// -------------------
// LIGHTBOX STYLES
// -------------------

.lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0, .6);
    opacity: .6;
    width: 100vw;
    height: 100vh;
}

.popup{
    font-size: 1.1rem;
    display: none;
    text-align: center;
    position: fixed;
    width: 90vw;
    top: 10%;
    left: 5vw;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
    flex-direction: column;
    border-radius: .375rem;
    & a{
        margin-top: 1rem;
    }
}

.popupInfo{
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.popupThumbnail{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin: 1rem auto;
}

.popupLocation{
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px gray solid;
}

.phone{
    margin: 1.5rem auto 1rem auto;
}

.adress{
    margin-bottom: 1rem;
}

.birthday{
    margin-bottom: 2rem;
}

.previous,
.next{
    height: 2rem;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.previous{
    transform: scaleX(-1);
    left: 5%;
}

.next{
    right: 5%;
}

.close{
    font-size: 1.5rem;
    text-align: right;
    margin: 0 5% 0 auto;
    cursor: pointer;
}

